<p>Booking report below of cancelled bookings.</p>

<h3>Booking Cancelled</h3>
<table style='margin-left: 10px' border=1 cellspacing=0 cellpadding=2>
<tr><th>Booking No</th><th>Customer</th></tr>
{% for i in booking_cancellation %}
<tr ><td>{{ i.booking_id }}</td><td>{{ i.booking_customer }}</td></tr>

{% endfor %}
</table>
<br>
<h3>Errors finding booking</h3>
<table style='margin-left: 10px' border=1 cellspacing=0 cellpadding=2>
{% for d in booking_errors %}
  <tr><td>{{ d }}</td></tr>
{% endfor %}

</table>

