{%  extends 'ps/email/base_email.html' %}

{% block greetings %}
<p>{{booking.details.first_name}} {{booking.details.last_name}},</p>
{% endblock %}

{% block content %}

<p>This booking does not provide any exemption from Western Australia’s <a href='https://www.wa.gov.au/organisation/department-of-the-premier-and-cabinet/covid-19-coronavirus-advice-travelling-and-around-western-australia'>travel restrictions</a> or <a href='https://www.wa.gov.au/organisation/department-of-the-premier-and-cabinet/covid-19-coronavirus-advice-travelling-and-around-western-australia'>gathering restrictions</a>. Those restrictions are subject to change.</p>

<p>Print or save this confirmation for presentation on arrival and at any time during your stay.</p>

<p>Arrival: {{booking.arrival|date:"d/m/Y"}}</p>
<p>Departure: {{booking.departure|date:"d/m/Y"}}</p>

{% if booking.campground.site_type == 2 %}
<p>Campsite: {{booking.first_campsite.type}}</p>
{% else %}
<p>Campsite: {{booking.first_campsite.name}} ({{booking.first_campsite.type}})</p>
{% endif %}
<p>Campers: {{booking.stay_guests}}</p>

{% for v in booking.vehicle_payment_status %}
{% if not v.Paid %}
    <p>Vehicle: {{v.Rego}}, {{v.Type}}</p>
{% else %}
    <p>Vehicle: {{v.Rego}}, {{v.Type}}, {% if v.Paid == 'Yes' %} Entry fee paid {% elif v.Paid == 'No' %} Unpaid {% elif v.Paid == 'pass_required' %} Park Pass Required {% endif %}</p>
{% endif %}
{% endfor %}

<p>Phone Number: {{phone_number}}</p>
<br />

{% if unpaid_vehicle %}
    <p>Purchase a park entry pass at our <a href="https://shop.dpaw.wa.gov.au/park-passes">online store</a> or <a href="{{EXPLORE_PARKS_ENTRY_FEES}}">pay on arrival</a></p>
{% endif %}



<a href="{{availability}}">About {{booking.campground.name}} and booking conditions</a>
{% if booking.campground.additional_info %}
    <p>Additional confirmation information: {{booking.campground.additional_info}}</p>
{% endif %}


<p>Before you go:</p>
<ul>
     <li><b>DO NOT TRAVEL TO CAMPGROUNDS, PARKS OR OTHER RESERVES IF ANY PERSON IN YOUR TRAVELLING PARTY:</B></li>
     <ul>
         <li>may have COVID-19 coronavirus symptoms</li>
         <li>may have had close contact with a person who has COVID-19 coronavirus</li>
         <li>is awaiting the results of a COVID-19 test </li>
         <li>has been advised to self-isolate by a health professional </li>
     </ul>
     <li>ensure you are self-sufficient and able to maintain good personal hygiene by carrying your own handwashing equipment and materials: facilities at Parks and Wildlife Service campgrounds are basic</li>
     
     <li>Check:
      <ul>
        <li>WA government information and advice on COVID-19 including travel and gathering restrictions</li>
	<li>Parks and Wildlife Service’s <a href='https://parks.dpaw.wa.gov.au/'>Explore Parks website</a> and <A HREF='https://alerts.dbca.wa.gov.au/'>Park Alerts</a></li>
	<li>The <a href='http://www.bom.gov.au/'>Bureau of Meteorology</a> for weather forecasts and warnings <a href='https://www.emergency.wa.gov.au/'>Emergency WA</a> for warnings and incidents</li>
	<li>The <a href='https://www.abc.net.au/'>ABC</a> radio frequency for the area you are visiting (ABC local radio broadcasts emergency information)</li>
	<li>Your contact details and vehicle registration are correct</li>
      </ul>
     </li>
</ul>
<p>At the campground and park:</p>
<ul>
	<li>Practise appropriate social distancing including:</li>
        <ul>
	   <li>minimising all unnecessary contact with others</li>
	   <li>keeping 1.5 metres away from others</li>
	   <li>avoiding physical greetings such as handshakes, hug and kisses</li>
        </ul>
        <li>The 4m² space per person rule must be observed at all times</li>
	<li>Cover your mouth and nose when you cough or sneeze. Use a flexed elbow or a tissue - if you use a tissue, dispose of it immediately and appropriately.</li>
</ul>


<p>Contact us about your booking</p>
<p>{{campground_email}}</p>
{% if booking.campground.telephone %}
<p>{{booking.campground.telephone}}</p>
{% endif %}
<br />

<a href="{{my_bookings}}">View my Park Stay WA bookings</a>
{% endblock %}
